@charset "utf-8";

.layout-between {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #393D49;
	display: flex;
    justify-content: space-between;
    .layout-left {
    	flex: 1;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    }
    .layout-right {
    	padding-left: 20px;
    }
}

.layout-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}