
@import './common/common';

html {
    line-height: 1;
    box-shadow: 1px 1px 1px #ccc;
    transform: translate(20px);
    display: flex;
}

body {
    border: 5px solid #1dd;
    padding: 50px 100px;
}
