<div class="aside__bar">
    <ul class="aside-lists" id="aside_bar">
        <li class="aside-item aside-item01 js-aside_hover js-online_server">
            <a href="javascript:;" class="aside-link">
                <i class="aside-icon"></i>
                <em class="aside-text">在线客服</em>
            </a>
        </li>
        <li class="aside-item aside-item02 js-aside_hover">
            <a href="javascript:;" class="aside-link">
                <i class="aside-icon"></i>
                <em class="aside-text">推荐</em>
            </a>
        </li>
        <li class="aside-item aside-item03 js-aside_hover">
            <a href="javascript:;" class="aside-link">
                <i class="aside-icon"></i>
                <em class="aside-text">计算器</em>
            </a>
        </li>
        <li class="aside-item aside-item04 js-aside_hover">
            <a href="javascript:;" class="aside-link">
                <i class="aside-icon"></i>
                <em class="aside-text">反馈</em>
            </a>
        </li>
        <li class="aside-item aside-item05 js-aside_hover" id="back_top">
            <a href="javascript:;" class="aside-link">
                <i class="aside-icon"></i>
                <em class="aside-text">顶部</em>
            </a>
        </li>
    </ul>
</div>